* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
    outline: none;
    
}

body {    
    background-size: 100%;
    background-color: #000;
}

h1 {
    color: #772fd3;
    display: flex;
    justify-content: center;
    padding: 25px;    
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;    
    width: 1000px;
    gap: 30px;
    height: auto;
    padding: 30px 24px 23px;
    margin: 0 auto 18px;
    border-radius: 20px;
    background-color: #f4f4f4;
}

label {
    font-weight: 400;
    font-size: 18px;
    color: #777777;
}

select {
    grid-column: 2/3;
    appearance: none;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #bbbbbb;
    cursor: pointer;
}

input {
    color: #000000;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #bbbbbb;
}

button {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 2px;
    background-color: #8A51FC;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #8A51FC;
    border-radius: 20px;
    margin-top: 26px;
    height: 268px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.arrow-img {
    transform: rotate(270deg);
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value,
.currency-value-to-convert {
    color: #555555;
    font-weight: 400;
    font-size: 20px;
}

.foot {
    grid-row: 3;
    grid-column: 1/3;
    width: auto;
    line-height: 10px;
    color: #777777;
    text-align: center;
    font-size: 12px;
}

.midias{    
    display: flex;
    align-items: center;    
    grid-column: 1/3;
    justify-content: center;
    gap: 15px; 
     
}

.insta {
   width: 45px;   
   
}

.linkedin {        
    width: 40px;    
}

.face {        
    width: 48px;    
}

@media (max-width: 1050px) {

    main {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 365px;
    gap: 30px;
    height: auto;
    padding: 30px 24px 23px;
    margin: 0 auto 18px;
    border-radius: 20px;
    background-color: #f4f4f4;
    }

    section {
    border: 1px solid #8A51FC;
    border-radius: 20px;
    width: 320px;
    height: auto;
    margin-top: 26px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    }

    .arrow-img {
    transform: rotate(360deg);
    margin: 15px 0;
    }    
}